*.model
*.egg-info
*.pot
*.py[co]
.tox/
.env
__pycache__
**/__pycache__
MANIFEST
dist/
migrations/
docs/_build/
docs/locale/
**/node_modules
**/dist
**/watch
**/provider
**/static/static
db.*
.idea*
venv/
*.log
*.ini
*.bin
*.npy
/document/datasets/word2.model
/frontend/yarn.lock
/document/datasets/cc.tr.300.bin
/document/datasets/model_file_content_vector.model.wv.vectors_ngrams.npy
