*.model
*.egg-info
*.pot
*.py[co]
.tox/
.env
__pycache__
**/__pycache__
MANIFEST
dist/
migrations/
docs/_build/
docs/locale/
**/node_modules
**/dist
**/watch
**/provider
**/static/static
db.*
.idea*
venv/
*.log
*.ini
*.bin
*.npy
/frontend/yarn.lockpy
