Django==3.0.1
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-session-timeout
channels==2.4.0
channels-redis
mongoengine
pandas
daphne==2.3.0
django-apscheduler
django-redis
openstacksdk==0.17.2
rackspacesdk==0.7.5
# required: sudo apt install python3.8-dev libpq-dev python3-psycopg2

psycopg2
paramiko
psycopg2-binary
parallel-ssh
ssh2-python
colorama
lxml
iptools
tldextract
#azure==4.0.0
beautifulsoup4
python-whois
random_user_agent
haikunator
service_identity
dnspython
apache-libcloud==3.3.0
vultr
parallel-ssh
scp
google-cloud-bigquery
pyarrow
